/*** FORMS ***/
/* INPUT */
label{
    display: inline-block;
    margin-bottom: .5rem;
}

form{
    margin-top: 1rem;
}

.form-group{
    margin-bottom: 1rem;
}

.form-control{
    border: 1px solid #ccc;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 1rem;
    padding: .625rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    
    &:focus{
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
}

.form-control-radio{
    display: inline-block;
}

.button{
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    padding: .5rem .75rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}